<div class="content">
  <header><h1>My Thoughts</h1></header>
  <button (click)="toggleForm()" class="new-thought-btn">New Thought</button>
  <app-post
    *ngFor="let post of postList; let i = index"
    [singlePost]="post"
    (deleted)="onDelete(i)"
  ></app-post>
  <div *ngIf="showForm" class="form-container">
    <app-post-form (submitted)="onSubmit($event)"> </app-post-form>
    <button (click)="toggleForm()" class="close-btn">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
