.entire-post {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 50vw;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 7px;
  box-shadow: grey 2px 2px 8px;
}
p {
  margin: 0px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.thought {
  margin-top: 8px;
  margin-bottom: 5px;
  width: 80%;
}
button {
  border: none;
  background-color: white;
}
.fas {
  font-size: 20px;
}
.like-wrapper {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.like-btn {
  margin-right: 5px;
}
.fa-thumbs-up {
  font-size: 20px;
}
